/**https://www.designrush.com/resources/designskilz/cool-css-buttons/**/
.bcnl_home{
  background:#fff;
  border:none;
  border-left:2px solid white;
  border-right:2px solid white;
  color:#000;
  cursor:pointer;
  display:block;
  font-size:2em;
  font-weight:bold;
  outline:none;
  padding:0.5em 1em;
  position:relative;
  text-decoration:none;
  transition:800ms ease all;
}
.bcnl_home:hover{
  background:#103dd2;
  color:#fff;
  font-weight:bold;
  text-decoration:none;
}
.bcnl_home:before,.bcnl_home:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #fff;
  transition:400ms ease all;
}
.bcnl_home:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.bcnl_home:hover:before,.bcnl_home:hover:after{
  width:100%;
  transition:800ms ease all;
}

/** https://codepen.io/FlorinPop17/pen/WEBNyx **/

.bcnl_bg {}
.bcnl_start{
    margin-top: 50px;
}
.bcnl_container {
    float: left;
}
.bcnl_word {
	/**	font-size: 180px;**/
	font-size: 15em;
}
.bcnl_word_small {
	/**font-size: 40px;**/
	font-size: 5em;
}
.bcnl_word span {
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	font-weight: 600;
	opacity: 0;
	user-select: none;
	line-height: .8;
}
.bcnl_word_small span {
	cursor: pointer;
	display: inline-block;
	font-size: inherit;
	font-weight: 600;
	opacity: 0;
	user-select: none;
	line-height: .8;
}

.bcnl_word span:nth-child(1).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word span:nth-child(2).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word span:nth-child(3).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word span:nth-child(4).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word_small span:nth-child(1).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word_small span:nth-child(2).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word_small span:nth-child(3).active {
	animation: fadein 0.5s;
	opacity: 1;
}

.bcnl_word_small span:nth-child(4).active {
	animation: fadein 0.5s;
	opacity: 1;
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: scale(1000);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 4px, 0);
  }
}

/**https://codepen.io/yemon/pen/dzgmxJ**/
.bcnl_description {
  color:white;
  font-size: 40px;
  overflow:hidden;
  white-space:nowrap;
}

.bcnl_title_div {
  animation: showup 7s infinite;
  animation-delay: 4s;
  display: inline-block;
  opacity: 0;
}

.bcnl_description_div {
  animation: reveal 7s infinite;
  animation-delay: 4s;
  display: inline-block;
  opacity: 0;
  width:0px;
}

.bcnl_description_div span {
  animation: slidein 7s infinite;
  animation-delay: 5s;
  margin-left:-555px;
  text-decoration: underline;
  opacity: 0;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-1800px; }
    20% { margin-left:-1800px; }
    35% { margin-left:0px;}
    100% { margin-left:0px;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:250px;}
    80% {opacity:1;}
    100% {opacity:0;width:250px;}
}
